{{ ansible_managed | comment }}

client
tls-client
pull
dev tun
proto udp
remote {{ openvpn_openvpn_client_server }} {{ openvpn_server_port }} udp
resolv-retry infinite
nobind
dhcp-option DNS {{ openvpn_client_dns }}
user nobody
group nogroup
persist-key
persist-tun
key-direction 1
tls-auth {{ openvpn_configuration_directory }}/ta.key 1
comp-lzo
verb 3
ca {{ openvpn_configuration_directory }}/ca.crt
cert {{ openvpn_configuration_directory }}/client.crt
key {{ openvpn_configuration_directory }}/client.key
auth SHA512