{{ ansible_managed | comment }}

tls-client
pull
dev tun
proto udp
remote {{ openvpn_local_server_ip }} {{ openvpn_server_port }} udp
nobind
dhcp-option DNS {{ openvpn_client_dns }}
tls-auth {{ openvpn_result_directory }}/ta.key 1
comp-lzo
verb 3
ca {{ openvpn_result_directory }}/ca.crt
cert {{ openvpn_result_directory }}/client.crt
key {{ openvpn_result_directory }}/client.key
cipher AES-256-CBC
auth SHA512